* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(273deg, rgb(37, 69, 77) 0%, rgba(175, 110, 255, 0.662) 52%);
  font-family: monospace;
}

main {
  display: flex;
  flex-direction: row;
}

.forms {
  display: flex;
  flex-direction: column;

}

.title {
  align-items: center;
  background-color: rgb(37, 37, 64);
  color: white;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.container {
  background-color: rgb(78, 111, 84);
  display: flex;
  justify-content: center;
}

.cards {
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

p {
  color: rgb(252, 252, 252);
  margin: 8px;
}

input {
  background-color: #bfb5b5;
  border: 1px solid #ccc;
  color: rgb(246, 2, 2);
  height: 20px;
  padding: 7px;
  width: 50px;
}

button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  text-decoration: none;
  transition: background 0.3s;
  width: 150px;
}
