* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(273deg, rgb(37, 69, 77) 0%, rgba(175, 110, 255, 0.662) 52%);
  font-family: monospace;
}

.title {
  align-items: center;
  background-color: rgb(37, 37, 64);
  color: white;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  background-color: rgb(78, 111, 84);
  display: flex;
  justify-content: center;
  width: 50%;
}

.cards {
  display: flex;
  height: 550px;
  justify-content: center;
  margin: auto;
  width: 70%;
}

img {
  border-radius: 100%;
  width: 50%;
}

p {
  color: rgb(252, 252, 252);
  margin: 8px;
}

input {
  background-color: #bfb5b5;
  border: 1px solid #ccc;
  color: rgb(246, 2, 2);
  height: 20px;
  padding: 7px;
  width: 50px;
}
